<!DOCTYPE html>
<html>
<head>
	<title></title>
	
</head>
<body>

    <h2>Title</h2>
    <p></p>
    <%=result.title%>
    <p></p>
     <h2>Description</h2>
    <p></p>
    <%=result.description%>
    <p></p>
     <h2>Content</h2>
    <p></p>
    <%=result.content%>
    <p></p>
     <h2>Image</h2>
     <image src='/uploads/<%=result.imgname%>'>
    <p></p>
    <%=result.imgname%>
    <p></p>
    <button ><a  href='/user/home'> Back </a></button>
 	

 	
</body>
<script type="text/javascript" src=""></script>

</html>